{% extends 'auth_system/base.html' %}
{% block content %}<style>
    .center {
        margin: auto;
        text-align: center;
        width: 90%;

        padding: 10px;
    }

    a {
        color: #000 !important;
        font-weight: 500;
        text-decoration: none;
    }




    .box {
        background-color: rgb(137, 128, 128);
        width: 300px;
        border: 15px solid rgb(34, 0, 128);
        padding: 50px;
        margin: 20px;
    }


    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    button {
        background-color: #12dada;
        color: white;
        border: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
    }
</style>
<div>
    <div class="center">
        <div class="center">

            <h2>Task Details</h2>
            <ul>
                <form method="POST">

                    {% csrf_token %}

                    <h4>Task name : {{ task_name }}
                        <li>Task description: {{ task_description }}
                    </h4>
                    <form method="POST">
                        <button><a href="{% url 'taskedit' task_id=task_id %}">Edit Task</a></button>
                        <button> <a href="/taskname">Go Back</a></button>
                        <input type="checkbox" name="complete" value="complete" {% if task.complete %}checked{% endif%}>
                        <label for="complete"> Completed</label>
                        <button type="submit">save</button>
                    </form>

                </form>


            </ul><br>
            {% endblock content %}