{% extends 'auth_system/base.html' %}
{% block content %}<style>
    #task {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #task td,
    #task th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #task tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #task tr:hover {
        background-color: #ddd;
    }

    #task th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #478fcd;
        color: white;
    }

    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding-top: 60px;
    }

    add

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    a {
        color: #000 !important;
        font-weight: 500;
        text-decoration: none;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes animatezoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }

        .cancelbtn {
            width: 100%;
        }
    }

    .center {
        text-align: center;
        margin: auto;
        width: 60%;

        padding: 10px;
    }



    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
    }

    .table {
        border: solid #000 2px;
        margin: 0 auto !important;
    }

    .navbar-expand-sm {
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .nav-link {
        background-color: red;
        border-radius: 5px;
        width: 100px;
        color: #f2f2f2;
    }
</style>








<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        </li>

    </ul>

</nav>


<div>
    <div class="center">
        {% if request.user.is_authenticated %}
        <h1>Hello, {{request.user.first_name}}</h1>

        <h2>{{request.user.first_name}}'s list</h2>
    </div>
    <div class="center">

        <form action="{% url 'taskcreate' %}" method="post">
            {% csrf_token %}
            <button type="submit" style="width:50%">ADD Task</button>
        </form>
    </div>
    {% endif %}









    </thead>

    <ul>
        <form method="POST">
            {% if Task_name %}
            {% csrf_token %}
            <table class="table table-bordered" id="example" style="text-align: center;">
                <thead class="table-success">
                    <tr>
                        <th>SN</th>
                        <th>Task</th>
                        <th>Status</th>
                        <th>Delete</th>



                    </tr>

                    {% for id in Task_name %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'taskdetail' id.id %}">{{id.task_name }}</a></td>
                        <td>
                            {% if id.complete %}
                            <p>completed</p>
                            {% else %}
                            <p>Not completed</p>
                            {% endif %}
                        </td>
                        <td>
                            <button class="btn-danger" style="color: #ddd;"><a
                                    href="{% url 'taskdelete' id.id request.user.id %}">Delete</a></button>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
            {% else %}
            <p> There are no items to show. </p>
            {% endif %}
        </form>






        {% endblock content %}