{% extends 'auth_system/base.html' %}
{% block content %}<style>
    .center {
        text-align: center;
        margin: auto;
        width: 60%;

        padding: 10px;
    }

    button {
        background-color: #12dada;
        color: white;
        border: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
    }




    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
</style>

<div class="center">
    <div class="center">
        <h1>Edit Task </h1>

        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Update</button>
        </form>

        {% endblock content %}
    </div>
</div>