{% if request.user.is_authenticated %}


<h1>Hello, {{request.user.first_name}}</h1>


{% else %}
<a href="{% url 'login' %}">login</a>
{% endif %}
<hr>
<h1> My to do list

</h1>
<h>Listview</h>
<ul>
    {% for i in Task_list %}
    <h4>{{ i.task_list }}</h4>
    <li> {{ i.task_description }} </li>
    {% endfor %}
</ul>


</tr>



<form method="POST">
    {% csrf_token %}
    {{ form }}
    <!-- <label for="task_list">Add Task: </label>
        <input id="task_list" type="text" name="task_list" value="{{ current_name }}">
        <label for="task_list">Task Description: </label>
        <input id="task_list" type="text" name="task_list" value="{{ model_data }}">-->
    <button type="submit">Add</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>

<a href="{% url 'logout' %}"> Logout</a><br>

<a href="{% url 'login' %}">Go Back </a><br>
<a href="{% url 'todotask' %}">MyTask</a><br>