<h>Task list</h>

<ul>
    <form method="POST">
        {% for id in Task_list %}
        {% csrf_token %}
        <h4>{{ id.task_list }}</h4>
        <li> {{ id.task_description }} <a href="{% url 'taskdelete' id.id  %}">delete</a>
            <form method="POST">
                <input type="checkbox" name="completed" value="complete">
                <label for="completed">completed</label>

                <a href="{% url 'taskedit' id.id  %}">
                    <button type="button">Update</button></a>
            </form>


            {% endfor %}
    </form>
</ul><br>

<h>specific Task list</h>