{% if request.user.is_authenticated %}

<p>{{request.user}}</p>
<h1>Hello, {{user}} </h1>


{% else %}
<a href="{% url 'login' %}">login</a>
{% endif %}
<hr>
<h1> My to do list

</h1>

<a href="{% url 'taskcreate' %}">Add Task</a>
<table>
    <tr>
        <th>Item</th>
        <form method="POST">
            {{ context }}
            <input type="text" name="search-area" value="{{search_input}}">
            <input type="submit" value="search">
        </form>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'taskupdate' task.id %}">Edit</a></td>
        <td><a href="{% url 'taskdelete' task.id %}">Delete</a></td>

    </tr>
    {% empty %}
    <h3>no items in list </h3>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <!-- <label for="task_list">Add Task: </label>
        <input id="task_list" type="text" name="task_list" value="{{ current_name }}">
        <label for="task_list">Task Description: </label>
        <input id="task_list" type="text" name="task_list" value="{{ model_data }}">-->
        <button type="submit">Add</button>
    </form>


    <br>

    <a href="{% url 'logout' %}"> Logout</a>